{
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
