.about-container {
    min-height: 97vh;
    min-width: 98.6vw;
    margin: 1.4vh 0.7vw;
    padding-top: 2vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff;
    z-index: 5;
}

#intro text {
    color: #111;
    /* font-family: 'Fjalla One', sans-serif; */
    -webkit-font-smoothing: antialiased;
}

#about-hi {
    font-size: 3rem;
}

#aboutdescdesk {
    position: relative;
    margin-top: 2rem;
    left: 0;
    right: 0;
    font-size: 1.5rem;
    padding: 0 2rem 0 2rem;
}

#aboutdescmob {
    position: relative;
    left: 0;
    right: 0;
    font-size: 1.4rem;
    padding: 0 3vw;
}

.about-image {
    max-height: 40rem;
    width: auto;
    position: relative;
    margin: 1.5rem 0 1.5rem 0;
    left: 0;
    right: 0;
}

.about-image:hover {
    -webkit-filter: grayscale(0) contrast(1.25);
    filter: none;
    opacity: 1;
}

.link-icons {
    font-size: 3rem;
}

#iconlinks {
    position: relative;
    left: 0;
    right: 0;
}

i {
    padding: 1rem;
}

i:hover {
    cursor: pointer;
}

/* #githubicon {
    color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#linkedinicon {
    color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#facebookicon {
    color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#blogicon {
    color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#instaicon {
    color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#mailicon {
    color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
} */

#githubicon {
    color: #4a3863;
}

#linkedinicon {
    color: #0077b5;
}

#facebookicon {
    color: #3b5998;
}

#blogicon {
    color: #111;
}

#instaicon {
    color: #df326a;
}

#mailicon {
    color: #dd4d40;
}

.name-gradient {
    background-image: -webkit-linear-gradient(left, #fe8c00, #f83600);
    /* For Chrome and Safari */
    background-image: -moz-linear-gradient(left, #fe8c00, #f83600);
    /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(left, #fe8c00, #f83600);
    /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(left, #fe8c00, #f83600);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to right, #fe8c00, #f83600);
    /* Standard syntax; must be last */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/* Responsive stuff */

.stick-bottom {
    position: absolute;
    bottom: 0;
    /* width: 100vw; */
}


/* Small devices (tablet portrait, 600px and up) */

@media (min-width: 600px) and (max-width: 899px) {
    #intro text {
        font-size: 6rem;
    }
    #aboutdescmob {
        font-size: 2rem;
    }
    .link-icons {
        font-size: 4rem;
    }
}


/* Medium devices (tablet landscape, 900px and up) */

@media (min-width: 900px) and (max-width: 1299px) {
    #intro text {
        font-size: 3rem;
    }
    #aboutdescdesk {
        margin-top: 0;
        font-size: 1.25rem;
    }
    .about-image {
        max-height: 12rem;
        margin-top: 2rem;
    }
    .link-icons {
        font-size: 2rem;
    }
    .stick-bottom {
        position: relative;
    }
}

@media (max-width: 1199px) {
    .about-container {
        min-height: 100vh;
        min-width: 100vw;
        margin: 0;
    }
}


/* Large devices (desktops, 1200px and up) */

@media (min-width: 1200px) {
    .stick-bottom {
        position: relative;
    }
    .about-container {
        min-height: 97vh;
        min-width: 98.6vw;
        margin: 1.4vh 0.7vw;
    }
}