.about-container {
    min-height: 97vh;
    min-width: 98.6vw;
    background: url(../images/backgrounds/dlanham-Cardinal.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #fff;
    z-index: 5;
    margin: 1.4vh 0.7vw;
}

@media screen and (max-width: 1023px) {
    .about-container {
        min-height: 100vh;
        min-width: 100vw;
        margin: 0;
    }
}

#intro text {
    color: #111;
    font-family: 'Fjalla One', sans-serif;
    -webkit-font-smoothing: antialiased;
}

#about-hi {
    font-size: 8vh;
}

#aboutdescdesk {
    position: relative;
    margin-top: 2vh;
    left: 0;
    right: 0;
    font-size: 3vh;
}
#aboutdescmob {
    position: relative;
    left: 0;
    right: 0;
    font-size: 2.5vh;
}

.about-image {
    max-height: 30vh;
    width: auto;
    position: relative;
    margin-top: 5vh;
    left: 0;
    right: 0;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1) contrast(1.25); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1) contrast(1.25); /* Microsoft Edge and Firefox 35+ */
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
}


.about-image:hover {
  -webkit-filter: grayscale(0) contrast(1.25);
  filter: none;
  opacity: 1;
}

.link-icons {
     font-size: 5vh;
}

#iconlinks {
    position: relative;
    left: 0;
    right: 0;
}

@media screen and (min-width: 1024px) {
    #iconlinks {
        margin-top: 20px;
    }
}

i {
    padding: 2vh;
}

i:hover {
    cursor: pointer;
}

#githubicon {
    color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#linkedinicon {
    color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#facebookicon{
    color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#blogicon{
    color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#instaicon{
    color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#mailicon{
    color: #111;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#githubicon:hover {
    color: #6e5494;
}

#linkedinicon:hover {
    color: #283e4a;
}

#facebookicon:hover{
    color: #3b5998;
}

#blogicon:hover{
    color: #666666;
}

#instaicon:hover{
    color: #df326a;
}

#mailicon:hover{
    color: #dd4d40;
}

@media screen and (max-width: 1023px) {
    .stick-bottom {
        position: absolute;
        bottom: 0;
        width: 100vw;
    }
}