.App {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    position: relative;
    background: #e5632b;
    background: -webkit-linear-gradient(top left, #e5632b, #e52b50);
    background:    -moz-linear-gradient(top left, #e5632b, #e52b50);
    background:     -ms-linear-gradient(top left, #e5632b, #e52b50);
    background:      -o-linear-gradient(top left, #e5632b, #e52b50);
    background:         linear-gradient(to bottom right, #e5632b, #e52b50);
    /* background: linear-gradient(315deg, #e5632b, #873260, #883e9b, #b65063);
    background-size: 800% 800%;
    
    -webkit-animation: DynamicGradient 19s ease infinite;
    -moz-animation: DynamicGradient 19s ease infinite;
    -o-animation: DynamicGradient 19s ease infinite;
    animation: DynamicGradient 19s ease infinite; */
}

/* @-webkit-keyframes DynamicGradient {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}

@-moz-keyframes DynamicGradient {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}

@-o-keyframes DynamicGradient {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}

@keyframes DynamicGradient {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
} */

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

@media screen and (max-width: 1023px) {
    .App-header {
        animation: fade 0s forwards;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.6s;
        background-color: rgba(229, 99, 43, 1);
        background: -webkit-linear-gradient(top left, rgba(229, 99, 43, 1), rgba(229, 43, 80, 1));
        background:    -moz-linear-gradient(top left, rgba(229, 99, 43, 1), rgba(229, 43, 80, 1));
        background:     -ms-linear-gradient(top left, rgba(229, 99, 43, 1), rgba(229, 43, 80, 1));
        background:      -o-linear-gradient(top left, rgba(229, 99, 43, 1), rgba(229, 43, 80, 1));
        background:         linear-gradient(to bottom right, rgba(229, 99, 43, 1), rgba(229, 43, 80, 1));
    }

    @keyframes fade {
        from {
            background-color: rgba(229, 99, 43, 1);
            background: -webkit-linear-gradient(top left, rgba(229, 99, 43, 1), rgba(229, 43, 80, 1));
            background:    -moz-linear-gradient(top left, rgba(229, 99, 43, 1), rgba(229, 43, 80, 1));
            background:     -ms-linear-gradient(top left, rgba(229, 99, 43, 1), rgba(229, 43, 80, 1));
            background:      -o-linear-gradient(top left, rgba(229, 99, 43, 1), rgba(229, 43, 80, 1));
            background:         linear-gradient(to bottom right, rgba(229, 99, 43, 1), rgba(229, 43, 80, 1));
        }
        to {
            background-color: rgba(229, 99, 43, 0);
            background: -webkit-linear-gradient(top left, rgba(229, 99, 43, 0), rgba(229, 43, 80, 0));
            background:    -moz-linear-gradient(top left, rgba(229, 99, 43, 0), rgba(229, 43, 80, 0));
            background:     -ms-linear-gradient(top left, rgba(229, 99, 43, 0), rgba(229, 43, 80, 0));
            background:      -o-linear-gradient(top left, rgba(229, 99, 43, 0), rgba(229, 43, 80, 0));
            background:         linear-gradient(to bottom right, rgba(229, 99, 43, 0), rgba(229, 43, 80, 0));
        }
    }
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Navigation-position {
    position: fixed;
    bottom: 10px;
    padding-right: 100px;
}

.back-arrow {
    color: #111;
    font-size: 6vh;
}

.back-arrow-desktop {
    padding: 2.5vh 0 0 6vh;
}

#header-text text {
    color: #111;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 8vh;
    padding: 0 30px;
}

@media screen and (min-width: 1024px) {
    .desktop-invisible {
        display: none;
    }

    .header-container {
        text-align: left;
    }
}

@media screen and (max-width: 1023px) {
    .mobile-invisible {
        display: none;
    }
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
}