.App {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background: #ff8500;
    background: -webkit-linear-gradient(top, #ff8500, #c2001c);
    background: -moz-linear-gradient(top, #ff8500, #c2001c);
    background: -ms-linear-gradient(top, #ff8500, #c2001c);
    background: -o-linear-gradient(top, #ff8500, #c2001c);
    background: linear-gradient(to bottom, #ff8500, #c2001c);
    height: 100vh;
    /*padding: 20px;*/
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Navigation-position {
    position: fixed;
    bottom: 10px;
    padding-right: 100px;
}
