.App {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    position: relative;
    background: #e5632b;
    background: -webkit-linear-gradient(top left, #e5632b, #e52b50);
    background:    -moz-linear-gradient(top left, #e5632b, #e52b50);
    background:     -ms-linear-gradient(top left, #e5632b, #e52b50);
    background:      -o-linear-gradient(top left, #e5632b, #e52b50);
    background:         linear-gradient(to bottom right, #e5632b, #e52b50);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Navigation-position {
    position: fixed;
    bottom: 10px;
    padding-right: 100px;
}

.back-arrow {
    color: #111;
    font-size: 6vh;
}

.back-arrow-desktop {
    padding: 2.5vh 0 0 6vh;
}

#header-text text {
    color: #111;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 8vh;
    padding: 0 30px;
}

@media screen and (min-width: 1024px) {
    .desktop-invisible {
        display: none;
    }

    .header-container {
        text-align: left;
    }
}

@media screen and (max-width: 1023px) {
    .mobile-invisible {
        display: none;
    }
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}