.experience-container {
    min-height: 100vh;
    width: 100vw;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.box:before {
    content: '';
    display: table;
    padding-top: 100%;
}

.box-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

@media screen and (min-width: 1024px) {
    .box-bg {
        margin: 0.5vw 0.25vw;
    }
}

.link-logo {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 10%;
}

.box-bg:before {
    content: '';
    display: table;
    padding-top: 100%;
}

.box img {
    max-width: 100%;
}

#intuit-box {
    background: #0077C5;
}

#ezdi-box {
    background: #eef5f8;
}

#ezdi-box .org-logo {
    max-width: 80%;
}

#auv-box {
    background: #b31b1b;
}

#auv-box .org-logo {
    max-width: 75%;
}

#metakgp-box {
    background: #282b2b;
}

#iitkgp-box {
    background: #002147;
}

#iitkgp-box .org-logo {
    max-width: 65%; 
    filter: invert(1) sepia(100%) grayscale(100%) brightness(1.5);
    -webkit-filter: invert(1) sepia(100%) grayscale(100%) brightness(1.5);
}

#tls-box .org-logo {
    max-width: 85%;
}