.experience-container {
    min-height: 80vh;
    background-color: #c2001c;
    /*padding-top: 10vh;*/
}

.experience-title {
    font-weight: 800;
    font-size: 10vh;
    font-family: 'Righteous', cursive;
    padding: 10px;
    color: #fff;
}

.organisations {
    justify-content: center;
    margin: 5vh 4vw 0 4vw;
}

@media screen and (min-width: 1024px) {
    .org-tab-mid {
        border-style: solid;
        border-width: 0 1px 0 1px;
        border-color: rgba(255, 255, 255, 0.4);
    }
}

@media screen and (max-width: 1024px) {
    .mobile-invisible {
        display: none;
    }
}

.org-logo {
    padding: 10px;
    max-height: 8vh;
}

.org-position {
    color: #fff;
    font-size: 2vh;
    padding: 0 1vw 0 1vw;
}

.org-duration {
    color: #ff9ba9;
    font-weight: bold;
    font-size: 1.75vh;
}

.org-description {
    text-align: justify;
    padding: 0 3vw 0 3vw;
    color: #fff;
    opacity: 0.8;
    line-height: 1.6;
}

.org-description a {
    font-weight: bold;
}

/* Section */

section {
    position: relative;
    z-index: 1; /* needed for setting pseudo-element z-index */
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

section a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #ffff14;
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
}

section a::before,
section a::after {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/* Scale up bounce */
.link-scaleupbounce {
    color: #fff;
}

.link-scaleupbounce a {
    vertical-align: bottom;
    font-weight: 500;
}

.link-scaleupbounce a::before {
    position: absolute;
    top: 0;
    left: -5px;
    z-index: -1;
    box-sizing: content-box;
    padding: 0 5px;
    width: 100%;
    height: 100%;
    background-color: #e67800;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.25,0.25,0.325,1.39);
    transition-timing-function: cubic-bezier(0.25,0.25,0.325,1.39);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.link-scaleupbounce a:hover::before,
.link-scaleupbounce a:focus::before {
    opacity: 0.75;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.other-experience {
    justify-content: center;
    margin: 30px 10vw 0 10vw;
    /*text-align: justify;*/
    color: #fff;
    opacity: 1;
    line-height: 1.6;
}

.other-experience-logos {
    justify-content: center;
}

.other-experience-logos img {
    height: 50px;
    padding: 0 10px 0 10px;
}
