.experience-container {
    min-height: 97vh;
    min-width: 98.6vw;
    margin: 1.4vh 0.7vw;
    padding-top: 2vh;
    background-color: #fff;
    position: relative;
    z-index: 5;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0px;
}

.box:before {
    content: '';
    display: table;
    padding-top: 100%;
}

.box-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    /* animation-name: fadein;
    animation-duration: 0.75s; */
}

.link-logo {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 10%;
}

.org-position {
    position: absolute;
    bottom: 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}

#ezdi-box .org-position {
    color: black;
}

#tls-box .org-position {
    color: black;
}

.box-bg:before {
    content: '';
    display: table;
    padding-top: 100%;
}

.box img {
    max-width: 100%;
}

#intuit-box {
    background: #0077C5;
}

#ezdi-box {
    background: #eef5f8;
}

#ezdi-box .org-logo {
    max-width: 80%;
}

#auv-box {
    background: #b31b1b;
}

#auv-box .org-logo {
    max-width: 75%;
}

#metakgp-box {
    background: #282b2b;
}

#iitkgp-box {
    background: #002147;
}

#iitkgp-box .org-logo {
    max-width: 65%;
    filter: invert(1) sepia(100%) grayscale(100%) brightness(1.5);
    -webkit-filter: invert(1) sepia(100%) grayscale(100%) brightness(1.5);
}

#tls-box {
    background: #fff;
}

#tls-box .org-logo {
    max-width: 85%;
}

.experience-desc {
    text-align: center;
    font-size: 1.5rem;
}


/* Responsive stuff */

.exp-grid {
    margin-bottom: 0;
}


/* Small devices (tablet portrait, 600px and up) */

@media (min-width: 600px) {
    .exp-grid {
        margin: 0 0.5rem;
    }
    .box-bg {
        margin: 0.5rem 0;
    }
}


/* Medium devices (tablet landscape, 900px and up) */

@media (min-width: 900px) {
    .experience-container {
        background: url(../images/backgrounds/suntopy.png) no-repeat right top;
        background-color: #fff;
    }
    .box-bg {
        margin: 0.5vw 0.25vw;
    }
    .exp-grid {
        margin-bottom: 2vh;
    }
    .org-position {
        font-size: 0.8rem;
    }
}

@media (max-width: 1199px) {
    .experience-container {
        min-height: 100vh;
        min-width: 100vw;
        margin: 0;
    }
}


/* Large devices (desktops, 1200px and up) */

@media (min-width: 1200px) {
    .experience-container {
        min-height: 97vh;
        min-width: 98.6vw;
        margin: 1.4vh 0.7vw;
    }
    .org-position {
        font-size: 1rem;
    }
}