/* General link styles */

.link {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 10vh;
    line-height: 1;
    color: #9e9ba4;
    display: inline-block;
}


/* Name */

.link--name {
    font-weight: 800;
    color: #fff;
    font-family: 'Righteous', cursive;
    -webkit-transition: color 0.5s 0.25s;
    transition: color 0.5s 0.25s;
    overflow: hidden;
}


/* Subtitle */

.subtitle {
    font-size: 3vh;
    font-weight: bold;
    color: #fff;
    opacity: 0.8;
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.App-header {
    height: 100vh;
    width: 100vw;
}

.Aligner {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}