.modal-content {
    overflow-x: hidden;
    background-color: #fff;
    width: 100vw;
    min-height: 100vh;
    text-align: left;
    position: relative;
}

.modal-header-container {
    position: relative;
}

.modal-header-image {
    position: relative;
    width: 100%;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)), color-stop(0.3, rgba(0, 0, 0, 1)));
    -webkit-filter: grayscale;
    -webkit-filter: brightness(50%);
    filter: grayscale;
    filter: brightness(50%);
}

.modal-header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.modal-mobile-header-title {
    text-align: center;
    color: #000;
}

.header-title {
    color: #0077C5;
    font-size: 3.5rem;
}

.intuit-color {
    color: #0077c5;
}

.ezdi-color {
    color: #92C13D;
}

.auv-color {
    color: #de2323;
}

.metakgp-color {
    color: #a6acac;
}

.iitkgp-color {
    color: #0c7dff;
}

.tls-color {
    color: #999;
}

.header-subtitle {
    font-size: 2rem;
}

.modal-text {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.modal-text p:first-child:first-letter {
    float: left;
    font-size: 6rem;
    padding: 0.5rem 1rem;
}

.intuit-text p:first-child:first-letter {
    color: #0077C5;
}

.ezdi-text p:first-child:first-letter {
    color: #92C13D;
}

.auv-text p:first-child:first-letter {
    color: #de2323;
}

.metakgp-text p:first-child:first-letter {
    color: #a6acac;
}

.iitkgp-text p:first-child:first-letter {
    color: #0c7dff;
}

.tls-text p:first-child:first-letter {
    color: #999;
}

.modal-close {
    position: fixed;
    top: 5vh;
    left: 3vw;
    color: #888;
    font-size: 4rem;
    z-index: 1000;
}

.placeholder-element {
    height: 300px;
    background: #fff;
}

@media screen and (max-width: 1023px) {
    .modal-text {
        margin-bottom: 0;
    }
    .modal-close {
        top: 1vh;
        left: 1vh;
    }
}

.orgImage {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.actual-content {
    white-space: pre-wrap;
    font-family: 'Zilla Slab', serif;
    font-weight: light;
}