.ReactModal__Body--open {
    overflow: hidden;
}

.modal-content {
    overflow-x: hidden;
}

.modal-header-container {
    position: relative;
}

.modal-header-image {
    position: relative;
    width: 100%;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)), color-stop(0.3, rgba(0, 0, 0, 1)));
    -webkit-filter: grayscale;
    -webkit-filter: brightness(50%); 
    filter: grayscale;
    filter: brightness(50%); 
}

.modal-header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.modal-mobile-header-title {
    text-align: center;
    color: #000;
}

.header-title {
    color: #0077C5;
    font-size: 5vh;
}

.intuit-color {
    color: #0077c5;
}

.ezdi-color {
    color: #92C13D;
}

.auv-color {
    color: #b31b1b;
}

.metakgp-color {
    color: #282b2b;
}

.iitkgp-color {
    color: #002147;
}

.tls-color {
    color: #000;
}

.header-subtitle {
    font-size: 3vh;
}

.modal-text {
    font-size: 2.5vh;
    margin-bottom: 2.5vh;
}

.modal-text p:first-child:first-letter {
    float: left;
    font-size: 10vh;
    line-height: 8vh;
    padding: 1vh 1vh 0 1vh;
}

.intuit-text p:first-child:first-letter {
    color: #0077C5;
}

.ezdi-text p:first-child:first-letter {
    color: #92C13D;
}

.auv-text p:first-child:first-letter {
    color: #b31b1b;
}

.metakgp-text p:first-child:first-letter {
    color: #282b2b;
}

.iitkgp-text p:first-child:first-letter {
    color: #002147;
}

.tls-text p:first-child:first-letter {
    color: #000;
}

.modal-close {
    position: fixed;
    top: 5vh;
    right: 3vw;
    color: #888;
    font-size: 5vh;
    z-index: 1000;
}

@media screen and (max-width: 1023px) {
    .modal-text {
        margin-bottom: 0;
    }

    .modal-close {
        top: 1vh;
        right: 1vh;
    }
}