.projects-container {
    min-height: 97vh;
    min-width: 98.6vw;
    padding-top: 2vh;
    background-color: #fff;
    position: relative;
    z-index: 5;
    margin: 1.4vh 0.7vw;
}

@media screen and (max-width: 1023px) {
    .projects-container {
        min-height: 100vh;
        min-width: 100vw;
        margin: 0;
    }
}