.resume-container {
    min-height: 97vh;
    min-width: 98.6vw;
    padding-top: 2vh;
    background-color: #fff;
    position: relative;
    z-index: 5;
    margin: 1.4vh 0.7vw;    
}

@media screen and (max-width: 1023px) {
    .resume-container {
        min-height: 100vh;
        min-width: 100vw;
        margin: 0;
    }
}

.resume-desc {
    text-align: center;
    font-size: 3vh;
}

.resume-img img {
    max-width: 100%;
    padding: 30px 0 30px 0;
}