.resume-container {
    min-height: 97vh;
    min-width: 98.6vw;
    margin: 1.4vh 0.7vw;
    padding-top: 2vh;
    background-color: #fff;
    position: relative;
    z-index: 5;
}

.resume-desc {
    text-align: center;
    font-size: 3vh;
}

.resume-img {
    align-items: center;
}

.resume-img img {
    max-width: 100%;
}


/* Responsive stuff */


/* Small devices (tablet portrait, 600px and up) */

@media (min-width: 600px) {}


/* Medium devices (tablet landscape, 900px and up) */

@media (min-width: 900px) {
    .resume-img {
        padding: 30px 100px 30px 100px;
    }
}

@media (max-width: 1199px) {
    .resume-container {
        min-height: 100vh;
        min-width: 100vw;
        margin: 0;
    }
}


/* Large devices (desktops, 1200px and up) */

@media (min-width: 1200px) {
    .resume-container {
        min-height: 97vh;
        min-width: 98.6vw;
        margin: 1.4vh 0.7vw;
    }
}