---
import BaseLayout from "../layouts/BaseLayout.astro";
import Timeline from "../components/Timeline.astro";
import Cloudflare from "../components/logos/Cloudflare.astro";
import CodeStory from "../components/logos/CodeStory.astro";
import Setu from "../components/logos/Setu.astro";
import Intuit from "../components/logos/Intuit.astro";
import GRPC from "../components/logos/GRPC.astro";
import profileImg from "../assets/profile.jpg";
---

<BaseLayout title="About Naresh Ramesh" description="">
    <section
        class="col-span-12 mx-auto grid max-w-5xl grid-cols-1 items-start gap-8 pt-12 md:col-span-8 md:col-start-3 md:grid-cols-3"
    >
        <div class="text-xl md:col-span-2">
            <h2 class="mb-2 text-xl">Hey! I am</h2>
            <h1 class="mb-2 text-5xl font-bold">Naresh Ramesh</h1>
            <h3 class="text-secondary mb-8 text-2xl">
                Welcome to my tiny space on the internet 🫂
            </h3>
            <p class="mb-4">
                I'm an optimistic software engineer with a love for writing
                poetry, curating music, reading fiction, and making origami. I
                occasionally make pixel art, and dream about a world with
                unbound access to information.
            </p>
            <p class="mb-4">
                I tend to value people above all else, both in my personal
                relationships and at work. I've always found this natural, and
                able to build systems around this simple truth.
            </p>
            <p class="mb-4">
                I'm currently spending a lot of time thinking about AI & agents,
                and converting some of those ideas into code at Cloudflare.
                Here's a quick overview of what I've been up to the last few
                years.
            </p>
            <Timeline class="my-8">
                <li class="timeline-item">
                    <div class="flex items-center justify-between">
                        <span class="font-semibold"
                            >Senior Systems Engineer at Cloudflare</span
                        >
                        <Cloudflare width={80} height={26} />
                    </div>
                    <div class="mt-1 text-sm text-gray-600">Current</div>
                    <p class="mt-1 text-lg text-gray-800">
                        Building the foundation for developers to build and run
                        the next generation of software with AI agents at the
                        core.
                    </p>
                </li>
                <li class="timeline-item">
                    <div class="flex items-center justify-between">
                        <span class="font-semibold"
                            >Co-founder & CTO at CodeStory</span
                        >
                        <div class="flex items-center gap-1">
                            <CodeStory width={30} height={30} />
                            <span class="text-lg font-bold text-gray-700"
                                >CodeStory</span
                            >
                        </div>
                    </div>
                    <div class="mt-1 text-sm text-gray-600">
                        JUL 2023 - MAR 2025
                    </div>
                    <p class="mt-1 text-lg text-gray-800">
                        Led engineering for Aide, an open source AI-native IDE
                        processing 10B+ LLM tokens/day. Built state-of-the-art
                        coding agents, and shipped it within a fork of VSCode.
                        Raised $1.4M pre-seed funding and managed a 2k+ member
                        community.
                    </p>
                </li>
                <li class="timeline-item">
                    <div class="flex items-center justify-between">
                        <span class="font-semibold">Tech Lead at Setu</span>
                        <Setu width={60} height={18} />
                    </div>
                    <div class="mt-1 text-sm text-gray-600">
                        JUN 2020 - JUL 2023
                    </div>
                    <p class="mt-1 text-lg text-gray-800">
                        Led engineering for a 6-person team working on UPI
                        Deeplinks and BBPS Bill Collect, Setu's highest revenue
                        products. Built the systems for handling payments,
                        refunds and settlements via multiple banks, and an
                        automated merchant onboarding system.
                    </p>
                </li>
                <li class="timeline-item">
                    <div class="flex items-center justify-between">
                        <span class="font-semibold"
                            >Software Engineer at Intuit</span
                        >
                        <Intuit width={80} height={24} />
                    </div>
                    <div class="mt-1 text-sm text-gray-600">
                        AUG 2018 - MAY 2020
                    </div>
                    <p class="mt-1 text-lg text-gray-800">
                        Built notification systems for Mint's 4M users and
                        cross-platform GraphQL billing APIs for QuickBooks.
                        Established the company's first Open Source and Inner
                        Source program as Intuit India's site leader.
                    </p>
                </li>
                <li class="timeline-item">
                    <div class="flex items-center justify-between">
                        <span class="font-semibold"
                            >Google Summer of Code contributor at gRPC</span
                        >
                        <GRPC width={60} height={26} />
                    </div>
                    <div class="mt-1 text-sm text-gray-600">
                        MAY 2018 - JUL 2018
                    </div>
                    <p class="mt-1 text-lg text-gray-800">
                        Added support for building gRPC Python with the Bazel
                        build system and integrated with Skylark, Google's
                        internal CI. Due to limited support at the time, wrote
                        custom Skylark rules for the Cython modules to make it
                        work.
                    </p>
                </li>
            </Timeline>
        </div>
        <div class="flex justify-center md:col-span-1 md:justify-end">
            <img
                src={profileImg.src}
                alt="Profile photo"
                class="mt-8 h-72 w-72 rounded-lg object-cover shadow-lg md:mt-0"
            />
        </div>
    </section>
</BaseLayout>
