<div class="bg-th-theme-accent hexagon p-2">
    <img
        src="/images/profile.jpg"
        alt="Profile"
        class="hexagon h-auto w-full"
        width="283"
        height="283"
        loading="lazy"
        decoding="async"
    />
</div>
