---
import { Image } from "astro:assets";
import HeaderLink from "./HeaderLink.astro";
import MeImage from "../assets/me.png";

const links = [
    { label: "Blog", href: "/" },
    { label: "Poetry", href: "/poetry" },
    { label: "About", href: "/about" },
];
---

<div
    class="border-theme-accent-dark fixed mt-2 flex h-screen w-20 flex-col border-r-4"
>
    <!-- Avatar -->
    <div class="mt-2 mb-2 flex justify-center">
        <a href="/">
            <Image
                src={MeImage}
                alt="Avatar"
                class="h-15 w-15 cursor-pointer"
                loading="eager"
            />
        </a>
    </div>
    <!-- Navigation Links -->
    <div class="flex grow flex-col items-center">
        {
            links.map((link) => (
                <HeaderLink href={link.href}>
                    <span>{link.label}</span>
                </HeaderLink>
            ))
        }
    </div>
</div>
