---
import BaseHead from "../components/BaseHead.astro";
import Topbar from "../components/Topbar.astro";
import Sidebar from "../components/Sidebar.astro";

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <main>
            <div class="min-h-screen">
                <div
                    class="bg-th-theme-accent-dark fixed top-0 left-0 z-50 h-2 w-screen"
                >
                </div>
                <div class="absolute mt-2 md:hidden">
                    <Topbar />
                </div>
                <div class="hidden md:block">
                    <Sidebar />
                </div>
                <div
                    class="md:sidebarless-container grid grid-cols-12 pt-20 pb-12 md:ml-20 md:pt-12"
                >
                    <slot />
                </div>
            </div>
        </main>
    </body>
</html>
