---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";

interface Props {
    title: string;
    description: string;
    class?: string;
}
const { title, description, class: className = "" } = Astro.props;
---

<html lang="en" class="max-md:max-w-full max-md:overflow-x-hidden max-md:relative">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body class="max-md:max-w-full max-md:overflow-x-hidden max-md:relative">
        <main>
            <div class={`min-h-screen bg-home ${className}`}>
                <div
                    class="bg-theme-accent-dark fixed top-0 left-0 right-0 z-50 h-2"
                >
                </div>
                <Navigation />
                <div
                    class="md:sidebarless-container grid grid-cols-12 pt-20 pr-4 pb-12 pl-4 md:ml-20 md:pt-12 md:pr-0 md:pl-0"
                >
                    <slot />
                </div>
            </div>
        </main>
    </body>
</html>
