@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Lufga";
    src: url("/fonts/Lufga/regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lufga";
    src: url("/fonts/Lufga/bold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Lufga";
    src: url("/fonts/Lufga/italic.woff2") format("woff2");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Argesta";
    src: url("/fonts/Argesta/display.otf");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Argesta";
    src: url("/fonts/Argesta/text_bold.otf");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Argesta";
    src: url("/fonts/Argesta/display_italic.otf");
    font-style: italic;
    font-display: swap;
}

:root {
    --primary: #47184c;
    --secondary: #e17150;
    --tertiary: #ffd34e;
    --text: theme("colors.black");
    --subtext: #301a51;
    --background: #ffecb4;

    --theme-accent: #ffe081;
    --theme-accent-dark: #ffd081;

    --home-bg: url("/images/bg.svg");
}

[data-theme="dark"] {
    --primary: #fcaf61;
    --secondary: #e17150;
    --tertiary: #381e5f;
    --text: theme("colors.white");
    --subtext: #c4aee5;
    --background: #160c25;

    --theme-accent: #301a51;
    --theme-accent-dark: #2d184c;

    --home-bg: url("/images/bg-dark.svg");
}

html,
body {
    font-family: "Lufga", sans-serif;
    color: var(--text);
    background-color: var(--background);
    transition: all 0.25s linear;
}

.article-text {
    font-family: "Argesta", serif;
}

::selection {
    background: var(--theme-accent);
    color: var(--text);
}

::-moz-selection {
    background: var(--theme-accent);
    color: var(--text);
}

.hindi {
    font-family: "Poppins", sans-serif;
}

.tamil {
    font-family: "Hind Madurai", sans-serif;
}

.telugu {
    font-family: "Hind Guntur", sans-serif;
}

.sidebar-link {
    @apply flex-grow flex w-full justify-center items-center cursor-pointer hover:text-th-secondary;
}

@layer utilities {
    @variants responsive {
        .sidebarless-container {
            width: calc(100vw - theme("width.20"));
        }
    }
}
