@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url("https://fonts.googleapis.com/css2?family=Hind+Guntur&family=Hind+Madurai&family=Poppins&display=swap");

    @font-face {
        font-family: "Lufga";
        src: url("/fonts/Lufga/Lufga-Bold/font.woff2") format("woff2");
        font-style: normal;
        font-weight: 600;
        font-display: optional;
    }

    @font-face {
        font-family: "Lufga";
        src: url("/fonts/Lufga/Lufga-Regular/font.woff2") format("woff2");
        font-style: normal;
        font-weight: 400;
        font-display: optional;
    }

    html,
    body {
        font-family: "Lufga", sans-serif;
        background-color: #ffecb4;
        background-image: url("/images/bg.svg");
        background-attachment: fixed;
        background-size: cover;
    }
}

::selection {
    background: #ffe081;
}

::-moz-selection {
    background: #ffe081;
}

.hindi {
    font-family: "Poppins", sans-serif;
}

.tamil {
    font-family: "Hind Madurai", sans-serif;
}

.telugu {
    font-family: "Hind Guntur", sans-serif;
}
